@model Autod.Models.LandingPage.CarServiceViewModel

@using (Html.BeginForm("SaveCustomerRequest", "LandingPages", FormMethod.Post))
{
    @Html.HiddenFor(model => model.CustomerId)

    <div class="form-group">
        @Html.LabelFor(model => model.CarMake)
        @Html.TextBoxFor(model => model.CarMake, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TypeOfService)
        @Html.DropDownListFor(model => model.TypeOfService, Model.ServiceTypeOptions, "Select a Service Type", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}



